
.registration-container{
    display: flex;
    justify-content: space-around;
}

.learn-more 
{
    width: 41vw;
    padding-top: 20px;
}

.learn-more-others
{
    font-size: 1.2rem;
    line-height: 2rem;
}
.learn-more-others p
{
    padding-top: 10px;
    padding-bottom: 20px;
}
.learn-more-heading 
{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}
.signup-student-form
{
    width: 40vw;
    margin-top: 10px;
    padding: 9px 2px;
    background-color: transparent;
    /* box-shadow: 10px 10px 28px 11px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 28px 11px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 28px 11px rgba(0,0,0,0.75);
} */
}

.form-header
{
    font-size: 2.5rem;
    text-align:center;
    border-bottom:2px solid white ;

}
.form-control
{
    border-bottom: 2px white solid;
    margin: 10px 1px ;
    padding: 10px 4px;
    color: black;
}

.form-control input
{
    border: none;
    background: none;
    width: 100%;
    padding: 6px 2px;
    outline: none;
    color: black;
    font-size:1.2rem;
    font-weight: 300;
}
.form-control input::placeholder
{
    color: black;
    text-align: left;
    font-weight: 200;
}


.form-control input:hover, .form-control input:focus {
    outline: none;
    color: black;
    font-size:1.2em;
    font-weight: 300;
}




