body {
  /* background-color: #a5a3a3; */
}

h1 {
  font-size: xx-large;
  font-weight: 350;
}

::placeholder {
  font-size: medium;
  color: #a5a3a3;
}

/*  STARTING OF NAV BAR STYLES  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background-color: white;
  padding: 0 17% 0 17%;
}
a {
  padding: 0.7rem;
  height: 100%;
}
/* a:hover {
  background-color: #a5a3a3;
} */

.btn1 {
  color: white !important;
  background-color: black;
  border: none;
}
.btn1:hover {
  background-color: #e6d8d8;
  color: black !important;
}

/* END OF NAV BAR STYLES */

/* STARTING OF HOME */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 16.85rem;
}
.home-icon1 {
  font-size: xx-large;
}
.home-icon2 {
display: none;
}

/* END OF HOME STYLES */

/* FOOTER STYLES */
.footer {
  bottom: 0;
  position: static;
}

/* END OF FOOTER STYLE */
.pagination {

  border-top: solid .05rem white;
  padding-top: 2rem;
  margin: 5% 16% 4.5% 16%;
}

.pagination ul li {
  padding: 0.4rem;
  background-color: white;
  margin: .1rem;
  border-radius: .4rem;
  cursor: pointer;
  font-weight: 500;
  font-size: small;
}

/* SINGLE POST VIEW STYLES */

.post1 {
padding: 2% 15% 2% 15%;
}

.image-card p {
  margin: 2rem;
}

.post-container {
width: 95%;
}

.side-sec p {
  padding: 1rem 0 1rem 0;
}

.post-img img {
width: 4.5rem;
height: 4.5rem;
}

.post-img span {
  padding-left: .4rem;
}

/* END OF SINGLEPOST STYLE */
@media screen and (max-width: 990px) {
  nav {
    width: 100%;
    padding: 1%;
  }
  nav a {
    padding: 0.2rem;
  }
  .home {
    padding: 5.1rem;
  }
  .home-icon1 {
    display: none;
  }
  .home-icon2 {
    display: block;
  font-size: xx-large;
}

  .home-btn {
  font-size: medium;
  padding: .2rem;
  }
  .blog {
    padding: 5% 0 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .singlepost {
    padding: 2%;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  .post-container {
width: 100%;
}
.btn-d {
  font-size: small;
}
}
