body {
  background-color: #a5a3a3;
}

h1 {
  font-size: xx-large;
  font-weight: 350;
}

::placeholder {
  font-size: medium;
  color: #a5a3a3;
}

/*  STARTING OF NAV BAR STYLES  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background-color: white;
  padding: 0 17% 0 17%;
}
a {
  padding: 0.7rem;
  height: 100%;
}
a:hover {
  background-color: #a5a3a3;
}

/* END OF NAV BAR STYLES */

/* STARTING OF HOME */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media only screen and (max: 630px) {
  nav {
    width: 100%;
  }
}
